.header{
    background-color: #E6A4B4;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}
header h1 {
    background-color: #E6A4B4;
    margin: 0;
    flex-grow: 1;
    font-family: Cursive;
    text-transform: uppercase;
}
header nav {
    margin-left: auto;
    margin-top: 90px;
    text-align: right;
}
header nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}
.logo {
    margin-right: 20px;
}
hr {
    border: 1px solid black;
    margin: 20px 0;
}
.arrangement {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}
#arrangement img {
    border: 2px solid black;
    margin-right: 10px;
}
.arrangement-text {
    flex-grow: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.intro-section{
background-image: url('./images/blossom.jpg');
background-repeat: no-repeat;
background-size: cover;
background-color: #D27E94;

height: 200px;
padding-top: 200px;
padding-bottom: 200px;
margin: -100px;
}
.name-of-shop{
text-align: center;
font-size: 60px;
color:#E6A4B4;
padding-top: 60px;
font-family:cursive;
font-weight: lighter;
}
.motto{
color: white;
text-align: center;
font-size: 25px;
margin-right:200px;
margin-top: 20px;
margin-left: 40px;
}
h1{
text-align: center;
color: #F3D7CA;
font-size: 60px;
font-family: cursive;
font-weight:100;
padding-bottom: -10px;
margin-top: 10px;
margin-bottom: -10px;
}
.about-us{
background-color: #FFF8E3;
margin-top: -10px;
padding: 20px 10px;
margin-right:-100px;
margin-left: -80px;
margin-bottom: -10px;

}
p{
font-size: 14px;
font-weight: 100px;
font-family: cursive;
text-align: center;
margin-left: 140px;
margin-right: 140px;
padding: 12px 50px ;
}
.our-services{
background-color: #D27E94;
margin-left: -10px;
margin-right: -100px;
padding-bottom: 90px;
}
.service-images{
position: relative;
left: 140px;
top: 30px;
padding-left: -20px;
padding-right: 20px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size:20px;
background-color: #FFF8E3;
padding: 12px;
box-shadow: 20px 20px 20px #F5EEE6;
}
.arrangement {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.arrangement img {
    border: 2px solid black;
    margin-right: 10px;
}
.arrangement-text {
    flex-grow: 1;
}
#wedding-bouquet{
position: relative;
left: 340px;
bottom: 305px;
}
#gift-basket{
position: relative;
left: 650px;
bottom: 720px;
}
h3{
text-align: center;
padding-top: 20px;
}
.wedding-bouquets{
background-color: #FFFAF4; 
padding-top: 40px;
padding-left: 30px;
}
.types-of-bouquets{
font-size: 40px;
color: #4A5E21;
font-weight: lighter;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul{
position: relative;
left: 420px;
bottom: 300px;
padding-left: 40px;
padding-top: 40px;
padding-bottom: 15px;
margin-left: 10px;
margin-right: 500px;
font-size: 17px;
font-weight: lighter;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
border:4px solid #F5EEE6;
box-shadow: 2px 12px 10px 2px #F3D7CA;
border-radius: 60px 0pc 60px 0px;
}
.description{
text-align: left;
position: relative;
top: 50px;
right: 200px;
margin-right: 20px;
}
#cascading-bouquet{
box-shadow: 15px 15px 20px 1px black;
}
#round-bouquet{
box-shadow: 15px 15px 20px 1px black;
}
#basket-bouquet{
box-shadow: 15px 15px 20px 1px black;
}
input[type=text]{
transition: width 2s ease-in-out;
transition: height 2s ease-in-out;
}
input[type=text]:focus{
width: 400px;
height: 100px;
}
button{
padding: 10px;
background-color: #D27E94;
border: #FFF8E3;
border-radius: 20px;
color:white;
}
form{
padding-top: -100px;
padding-bottom: 9%;
box-shadow: 1px 2px 2px white;
}
legend{
text-align: center;
font-size: 35px;
color: #4A5E21;
font-weight: lighter;
}
.gift-basket{
background-color:#89B9AD;
margin-left: -10px;
margin-right: -30px;
margin-top: -20px;
padding-left: 40px;
}
.heading-gift-b{
font-size: 40px;
text-align: left;
font-family:'Franklin Gothic Medium';
font-weight: lighter;
color: white;
text-shadow: 2px 2px 10px white;
}
#profile-picture{
padding-top: 50px;
border-radius: 120px 0px 120px 0px;
box-shadow:25px 1px 10px 12px #F5EEE6;
padding-left: 30px;

}
.contribution{
position: relative;
right: -250px;
bottom: 180px;
margin-right: 200px;
}
footer {
    background-color: #E6A4B4;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-left {
    display: flex;
    flex-direction: column;
}
.footer-left input {
    margin-bottom: 10px;
}
.footer-middle {
    text-align: center;
}
.footer-right {
    text-align: right;
}